apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: harbor-operator
  labels:
    {{- include "chart.labels" . | nindent 4 }}
rules:
- apiGroups: [""]
  resources: ['pods', 'services', 'services/finalizers', 'endpoints', 'persistentvolumeclaims', 'events', 'configmaps', 'secrets']
  verbs: ['create', 'delete', 'get', 'list', 'patch', 'update', 'watch']

- apiGroups: [apps]
  resources: ['deployments', 'daemonsets', 'replicasets', 'statefulsets']
  verbs: ['create' ,'delete' ,'get' ,'list' ,'patch' ,'update' ,'watch']

- apiGroups: [extensions]
  resources: ['ingresses']
  verbs: ['get', 'create', 'delete']

- apiGroups: [monitoring.coreos.com]
  resources: ['servicemonitors']
  verbs: ['get', 'create']

- apiGroups: [apps]
  resourceNames: ['harbor-operator']
  resources: ['deployments/finalizers']
  verbs: ['update']

- apiGroups: [apps]
  resources: ['replicasets','deployments']
  verbs: ['get']

- apiGroups: [registries.mittwald.de]
  resources: ['*']
  verbs: ['create', 'delete', 'get', 'list', 'patch', 'update', 'watch']
