apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: instancechartrepos.registries.mittwald.de
spec:
  additionalPrinterColumns:
  - JSONPath: .spec.url
    description: URL
    name: URL
    type: string
  - JSONPath: .status.state
    description: status
    name: Status
    type: string
  group: registries.mittwald.de
  names:
    kind: InstanceChartRepo
    listKind: InstanceChartRepoList
    plural: instancechartrepos
    singular: instancechartrepo
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: InstanceChartRepo is the Schema for the instancechartrepos API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: InstanceChartRepoSpec defines the desired state of InstanceChartRepo
          properties:
            name:
              type: string
            secretRef:
              description: LocalObjectReference contains enough information to let
                you locate the referenced object inside the same namespace.
              properties:
                name:
                  description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    TODO: Add other useful fields. apiVersion, kind, uid?'
                  type: string
              type: object
            url:
              type: string
          required:
          - url
          type: object
        status:
          description: InstanceChartRepoStatus defines the observed state of InstanceChartRepo
          properties:
            state:
              type: string
          required:
          - state
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
