apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: instances.registries.mittwald.de
spec:
  additionalPrinterColumns:
  - JSONPath: .status.phase.name
    description: phase
    name: Status
    type: string
  group: registries.mittwald.de
  names:
    kind: Instance
    listKind: InstanceList
    plural: instances
    shortNames:
    - harborinstance
    - harbor
    - harb
    singular: instance
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: Instance is the Schema for the instances API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: InstanceSpec defines the desired state of Instance
          properties:
            garbageCollection:
              description: GarbageCollectionReq holds request information for a garbage
                collection schedule
              properties:
                id:
                  format: int64
                  type: integer
                name:
                  type: string
                parameters:
                  additionalProperties:
                    type: string
                  type: object
                schedule:
                  description: ScheduleParam defines the parameters of a schedule
                    trigger
                  properties:
                    cron:
                      description: The cron string of scheduled job
                      type: string
                    type:
                      description: 'Daily, Hourly, Weekly, Custom, Manual, None Note:
                        When creating pre-defined schedule types (e.g. ''Hourly''),
                        the Cron string has to be provided.'
                      type: string
                  required:
                  - cron
                  - type
                  type: object
                status:
                  type: string
              required:
              - schedule
              type: object
            helmChart:
              properties:
                NameTemplate:
                  type: string
                atomic:
                  type: boolean
                chart:
                  type: string
                cleanupOnFail:
                  type: boolean
                dependencyUpdate:
                  type: boolean
                disableHooks:
                  type: boolean
                force:
                  type: boolean
                generateName:
                  type: boolean
                maxHistory:
                  type: integer
                namespace:
                  type: string
                recreate:
                  type: boolean
                release:
                  type: string
                replace:
                  type: boolean
                resetValues:
                  type: boolean
                reuseValues:
                  type: boolean
                secretValues:
                  description: set additional chart values from secret
                  properties:
                    key:
                      type: string
                    secretRef:
                      description: LocalObjectReference contains enough information
                        to let you locate the referenced object inside the same namespace.
                      properties:
                        name:
                          description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                            TODO: Add other useful fields. apiVersion, kind, uid?'
                          type: string
                      type: object
                  required:
                  - key
                  - secretRef
                  type: object
                skipCRDs:
                  type: boolean
                subNotes:
                  type: boolean
                timeout:
                  description: A Duration represents the elapsed time between two
                    instants as an int64 nanosecond count. The representation limits
                    the largest representable duration to approximately 290 years.
                  format: int64
                  type: integer
                upgradeCRDs:
                  type: boolean
                valuesYaml:
                  description: use string instead of map[string]interface{} https://github.com/kubernetes-sigs/kubebuilder/issues/528#issuecomment-466449483
                    and https://github.com/kubernetes-sigs/controller-tools/pull/317
                  type: string
                version:
                  type: string
                wait:
                  type: boolean
              required:
              - chart
              - namespace
              - release
              type: object
            instanceURL:
              type: string
            name:
              type: string
            options:
              properties:
                kubeconfigSecret:
                  properties:
                    kubeconfigKey:
                      type: string
                    secretRef:
                      description: LocalObjectReference contains enough information
                        to let you locate the referenced object inside the same namespace.
                      properties:
                        name:
                          description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                            TODO: Add other useful fields. apiVersion, kind, uid?'
                          type: string
                      type: object
                  required:
                  - kubeconfigKey
                  - secretRef
                  type: object
              type: object
            type:
              description: 'cant use the resulting string-type so this is a simple
                string and will be casted to an OperatorType in the resolver: error:
                Hit an unsupported type invalid type for invalid type'
              type: string
            version:
              type: string
          required:
          - helmChart
          - instanceURL
          - name
          - type
          - version
          type: object
        status:
          description: InstanceStatus defines the observed state of Instance
          properties:
            phase:
              properties:
                lastTransition:
                  description: Time of last observed transition into this state
                  format: date-time
                  type: string
                message:
                  type: string
                name:
                  type: string
              required:
              - message
              - name
              type: object
            specHash:
              type: string
            version:
              type: string
          required:
          - phase
          - specHash
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
