
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: users.registries.mittwald.de
spec:
  group: registries.mittwald.de
  names:
    kind: User
    listKind: UserList
    plural: users
    shortNames:
    - users
    - harborusers
    singular: user
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: phase
      jsonPath: .status.phase
      name: Status
      type: string
    name: v1alpha2
    schema:
      openAPIV3Schema:
        description: User is the Schema for the users API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              comments:
                type: string
              email:
                type: string
              name:
                type: string
              parentInstance:
                description: ParentInstance is a LocalObjectReference to the name
                  of the harbor instance the user is created for
                properties:
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                      TODO: Add other useful fields. apiVersion, kind, uid?'
                    type: string
                type: object
              passwordStrength:
                description: The effective length of the generated user password
                format: int32
                maximum: 128
                minimum: 8
                type: integer
              realname:
                type: string
              sysAdmin:
                type: boolean
              userSecretRef:
                description: LocalObjectReference contains enough information to let
                  you locate the referenced object inside the same namespace.
                properties:
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                      TODO: Add other useful fields. apiVersion, kind, uid?'
                    type: string
                type: object
            required:
            - email
            - name
            - parentInstance
            - passwordStrength
            - realname
            - sysAdmin
            - userSecretRef
            type: object
          status:
            description: UserStatus defines the state of a single user
            properties:
              lastTransition:
                description: Time of last observed transition into this state
                format: date-time
                type: string
              message:
                type: string
              name:
                type: string
              passwordHash:
                type: string
              phase:
                type: string
            required:
            - message
            - name
            - passwordHash
            - phase
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
