
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: projects.registries.mittwald.de
spec:
  group: registries.mittwald.de
  names:
    kind: Project
    listKind: ProjectList
    plural: projects
    singular: project
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: phase
      jsonPath: .status.phase
      name: Status
      type: string
    - description: harbor replication id
      jsonPath: .status.id
      name: ID
      type: integer
    - description: harbor replication id
      jsonPath: .spec.metadata.public
      name: Public
      type: boolean
    name: v1alpha2
    schema:
      openAPIV3Schema:
        description: Project is the Schema for the projects API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              memberRequests:
                description: Ref to the name of a 'User' resource
                items:
                  properties:
                    role:
                      type: string
                    user:
                      description: LocalObjectReference contains enough information
                        to let you locate the referenced object inside the same namespace.
                      properties:
                        name:
                          description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                            TODO: Add other useful fields. apiVersion, kind, uid?'
                          type: string
                      type: object
                  required:
                  - role
                  - user
                  type: object
                type: array
              metadata:
                properties:
                  autoScan:
                    description: Whether to scan images automatically when pushing
                      or not
                    type: boolean
                  enableContentTrust:
                    description: Whether content trust is enabled or not If it is,
                      users can not pull unsigned images from this project
                    type: boolean
                  preventVul:
                    description: Whether to prevent the vulnerable images from running
                      or not.
                    type: boolean
                  public:
                    description: Public status of the Project
                    type: boolean
                  reuseSysCVEAllowlist:
                    description: Whether this project reuses the system level CVE
                      allowlist as the allowlist of its own. The valid values are
                      "true", "false". If set to "true", the actual allowlist associated
                      with this project, if any, will be ignored.
                    type: boolean
                  severity:
                    description: If a vulnerability's severity is higher than the
                      severity defined here, images can't be pulled. Valid values
                      are "none", "low", "medium", "high", "critical".
                    type: string
                required:
                - public
                type: object
              name:
                type: string
              parentInstance:
                description: ParentInstance is a LocalObjectReference to the name
                  of the harbor instance the project is created for
                properties:
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                      TODO: Add other useful fields. apiVersion, kind, uid?'
                    type: string
                type: object
              storageLimit:
                type: integer
            required:
            - name
            - parentInstance
            type: object
          status:
            description: ProjectStatus defines the state of a single project
            properties:
              id:
                description: The project ID is written back from the held project
                  ID.
                format: int32
                type: integer
              lastTransition:
                description: Time of last observed transition into this state
                format: date-time
                type: string
              members:
                description: Members is the list of existing project member users
                  as LocalObjectReference
                items:
                  description: LocalObjectReference contains enough information to
                    let you locate the referenced object inside the same namespace.
                  properties:
                    name:
                      description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                        TODO: Add other useful fields. apiVersion, kind, uid?'
                      type: string
                  type: object
                type: array
              message:
                type: string
              name:
                type: string
              phase:
                type: string
            required:
            - message
            - name
            - phase
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
