
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: instancechartrepositories.registries.mittwald.de
spec:
  group: registries.mittwald.de
  names:
    kind: InstanceChartRepository
    listKind: InstanceChartRepositoryList
    plural: instancechartrepositories
    singular: instancechartrepository
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: URL
      jsonPath: .spec.url
      name: URL
      type: string
    - description: status
      jsonPath: .status.state
      name: Status
      type: string
    name: v1alpha2
    schema:
      openAPIV3Schema:
        description: InstanceChartRepository is the Schema for the instancechartrepositories
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: InstanceChartRepositorySpec defines the desired state of
              an InstanceChartRepository.
            properties:
              name:
                type: string
              secretRef:
                description: LocalObjectReference contains enough information to let
                  you locate the referenced object inside the same namespace.
                properties:
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                      TODO: Add other useful fields. apiVersion, kind, uid?'
                    type: string
                type: object
              url:
                type: string
            required:
            - url
            type: object
          status:
            description: InstanceChartRepositoryStatus defines the observed state
              of an InstanceChartRepository.
            properties:
              state:
                type: string
            required:
            - state
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
